<div class="main software">
  <div class="hero-section">
    <Header></Header>
  </div>

  <!-- Client Section -->
  <div class="client-section">
    <Client></Client>
  </div>

  <div id="services" class="pitch text-center">
    <Tech></Tech>
  </div>

  <div id="features" class="app-features text-center">
    <Features></Features>
  </div>

  <div class="feature-sub">
    <div class="container">
      <div class="sub-inner">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s" style="animation-delay: 0.1s; animation-name: none;">
          Peatio As a Service using bank grade security with AES256 encryption keys
        </h1>
        <a class="btn btn-primary btn-action wow fadeInDown page-scroll" data-wow-delay="0.2s" href="#pricing" style="animation-delay: 0.2s; animation-name: fadeInDown;">Support plans</a>
      </div>
    </div>
  </div>

  <Platform></Platform>

  <div id="pricing" class="pricing-section text-center">
    <Pricing></Pricing>
  </div>

  <!-- Subscribe Form -->
  <Email></Email>
</div>
