<div id="services" class="main software">
  <div class="hero-section">
    <Header></Header>
  </div>

  <!-- Client Section -->
  <div class="client-section">
    <Client></Client>
  </div>

  <div class="pitch text-center">
    <Tech></Tech>
  </div>

  <div id="features" class="app-features text-center">
    <Features></Features>
  </div>

  <div class="feature-sub">
    <div class="container">
      <div class="sub-inner">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s" style="animation-delay: 0.1s; animation-name: none;">
          Peatio As a Service using bank grade security with AES256 encryption keys.
        </h1>
        <a class="btn btn-primary btn-action wow fadeInDown page-scroll" data-wow-delay="0.2s" href="#pricing" style="animation-delay: 0.2s; animation-name: fadeInDown;">Support plans</a>
      </div>
    </div>
  </div>

  <Platform></Platform>

  <div id="pricing" class="pricing-section text-center">
    <Pricing></Pricing>
  </div>

  <!-- Subscribe Form -->
  <div class="cta-sub no-color">
    <div class="container">
      <div class="cta-inner">
        <h1 class="wow fadeInDown" data-wow-delay="0s" style="animation-delay: 0s; animation-name: none;">
          Start your Peatio Cloud
        </h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s" style="animation-delay: 0.2s; animation-name: none;">
          Please submit your email to receive your Peatio.tech demo link.
        </p>
        <div class="form wow fadeInDown" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
          <form id="signup" class="formee" action="#" method="post" novalidate="novalidate">
            <input name="email" id="email" type="text"><input class="right inputnew" type="submit" title="Send" value="Submit">
          </form>
          <div id="response"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
export default {

  name: 'landing-content',

  /*eslint-disable*/
  mounted: function () {
    window._chatlio = window._chatlio||[];
    !function(){
      var t=document.getElementById("chatlio-widget-embed");
      if(t&&window.ChatlioReact&&_chatlio.init) return void _chatlio.init(t,ChatlioReact);
      for(var e=function(t){ return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline", "page"],a=0;a<i.length;a++)
        _chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));
      var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];
      n.id="chatlio-widget-embed", n.src="https://w.chatlio.com/w.chatlio-widget.js", n.async=!0,n.setAttribute("data-embed-version","2.3");
       n.setAttribute('data-widget-id','b3d49755-40f4-4079-5992-a5bf40d5defb');
       c.parentNode.insertBefore(n,c);
    }();
  }
}
</script>
