<div class="main software">
  <div class="hero-section">
    <Header></Header>
  </div>

  <!-- Client Section -->
  <div class="client-section">
    <Client></Client>
  </div>

  <div id="services" class="pitch text-center">
    <Tech></Tech>
  </div>

  <div id="features" class="app-features text-center">
    <Features></Features>
  </div>

  <div class="feature-sub">
    <div class="container">
      <div class="sub-inner">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s" style="animation-delay: 0.1s; animation-name: none;">
          Peatio As a Service using bank grade security with AES256 encryption keys.
        </h1>
        <a class="btn btn-primary btn-action wow fadeInDown page-scroll" data-wow-delay="0.2s" href="#pricing" style="animation-delay: 0.2s; animation-name: fadeInDown;">Support plans</a>
      </div>
    </div>
  </div>

  <Platform></Platform>

  <div id="pricing" class="pricing-section text-center">
    <Pricing></Pricing>
  </div>

  <!-- Subscribe Form -->
  <div class="cta-sub no-color">
    <div class="container">
      <div class="cta-inner">
        <h1 class="wow fadeInDown" data-wow-delay="0s" style="animation-delay: 0s; animation-name: none;">
          Start your Peatio Cloud
        </h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s" style="animation-delay: 0.2s; animation-name: none;">
          Please submit your email to receive your Peatio.tech demo link.
        </p>
        <div class="form wow fadeInDown" data-wow-delay="0.3s" style="animation-delay: 0.3s; animation-name: none;">
          <form id="signup" class="formee clearfix" action="#" method="post" novalidate="novalidate">
￼             <div style="float: left"><input name="email" id="email" type="text" style="display: block; width: 100%"></div>
￼             <div style="float: left"><input class="right inputnew" type="submit" title="Send" value="Submit" style="display: block; width: 100%"></div>
          </form>
          <div id="response"></div>
        </div>
      </div>
    </div>
  </div>
</div>
